{% extends 'base_apps.html' %}

{% block title %}Crear Ciclo{% endblock %}  

{% block contenido_apps %}  
    <div class="card border-0 shadow-sm rounded-4 p-2 bg-white">
        <div class="card-body">
            <h1 class="h3 mb-4">Crear Nuevo Ciclo</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

{% include "includes/boton_volver.html" with url_name='clubes:clubes' boton_titulo='Volver a Clubes' %}

{% endblock %}